html, body{
    margin: 0 auto;
    padding: 0;
}

h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;

    color: #1C1C27;
}

.non_decoration{
    text-decoration: none;
    color: black;
}

.colored{
    color: #FFA542;
}

.striked{
    text-decoration: line-through;
}

.regular{
    line-height: 0;
    margin: 10px;
}

.plus_sized{
    font-size: 20px;
}

.links_text{
    line-height: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
}

body{
    background: #EAEAEA;
}

.wrapper{
    margin: 0 auto;
    width: 1110px;
}

header{
    width: 1110px;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header_logo{
    position: relative;
    left: -20px;
}

.logo_link{
    text-decoration: none;
    color: black;
}

.iconcs{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 28px;
}

.icon{
    margin-left: 40px;
}

.circle_indicator{
    position: relative;
    bottom: 10px;
    right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    z-index: 1;
    background-color: #FFA542;
}

#basket_indicator{
    position: relative;
    left: 4px;

    font-size: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 21px;

    color: white;
}


.main_title{
    position: relative;
    top: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #838383;
}

main{
    width: 1110px;
    height: 250vh;
}

.headphones_container{
    position: relative;
    margin-top: 20px;

    width: 1110px;
}

.card_container{
    position: relative;
    width: 1140px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    position: relative;
    width: 340px;
    height: 407px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    margin: 15px;
}

.card_img{
    height: 200px;
    padding-top: 30px;

    text-align: center;
}

.card_line{
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
}

.card_rate{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card_span{
    position: relative;
    left: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;

    color: #838383;
}

.card_price{
    display: flex;
    flex-direction: column;
}

.card_button{
    width: 70px;
    border: none;
    background-color: inherit;
    text-align: center;
}

.card_button:hover{
    cursor: pointer;
    background-color: #FFA542;
    border-radius: 10px;
}

footer{
    position: fixed;
    bottom: 0px;

    height: 150px;
    width: 1110px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: white;
    border-radius: 30px 30px 0 0;
}

.footer_logo{
    position: relative;

    margin: 10px 0 0 18px;
}

.footer_links{
    display: flex;
    justify-content: space-between;

    width: 400px;
    padding-top: 10px;
}

.links_ul{
    list-style: none;
}

.links_li{
    line-height: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;

    color: #1C1C27;
}

.services{
    margin: 0 0 0 50px;
}

.lang_handler{
    display: flex;
    flex-direction: row;

    margin-top: 30px;
}

.lang_button{
    border: none;
    background-color: inherit;
    text-align: center;
}

.lang_button:hover{
    cursor: pointer;
    background-color: #FFA542;
    border-radius: 5px;
}

.lang_icon{
    width: 20px;
    height: 20px;
}

.social_media{
    position: relative;
    width: 126px;
    height: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 29px 20px 0 0;
}

.minimize_icon{
    width: 33px;
    height: 33px;
}